{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}
        <div class="jumbotron">
            <h1 class="display-4">Mon jardin de poche</h1>
            <p class="lead">Gérez, plantez, récoltez !</p>
            <hr class="my-4">
            <p>Juste une application compagnon pour votre potager.</p>
        </div>
    {% endblock %}
{% endblock %}